

#login, #informacion {
	background-image:url('../img/login.jpg');
	background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 	
}

#login #loginForm, #registro #registroForm {
	width: 90%;
	margin:0 auto;	
	padding:1%;
	font-weight: bold;
	color: #FFFFFF;
    position:absolute;
}

#registro {
	background-image:url('../img/registro.jpg');
	background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 		
}


#informacion #divInformacion {
	width: 90%;
	margin:0 auto;
	margin-top:10%;
	font-weight: bold;
	background-color: #FFFFFF;
	text-align: left;
	padding: 0;
}