#login, #informacion
{
   	background: url('../img/loginVertical.jpg') center center no-repeat scroll;
}


#registro
{
    background: url('../img/registroVertical.jpg') center center no-repeat scroll;
}


#login, #informacion,  #registro{
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#login #loginForm, #registro #registroForm {
	width: 90%;
	margin:0 auto;	
	padding:1%;
	font-weight: bold;
	color: #FFFFFF;
    position:absolute;
}



#informacion #divInformacion {
	width: 90%;
	margin:0 auto;
	margin-top:20%;
	font-weight: bold;
	background-color: #FFFFFF;
	text-align: left;
	padding: 0;
}



@media screen and (min-height:481px) {
   #login #loginForm, #registro #registroForm {
	   bottom:0;
       margin-bottom:20%;
    }
}

@media screen and (max-height:480px) {
   [data-role=page] { margin-bottom:20px;}
}
